@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Riqui</h1>
    <p>Don't forget to study the scriptures today!</p>
</div>
